<%- include("../partials/header") %>
<br></br>
<h1 id="createTeam">Sign Up Your Team </h1>
<form id="new-form" action="/teams" method="POST">
  <label id="newTName">Team Name:</label>
  <input type="text" name="teamName">
  <br></br>
  <label class="Play1">Player's Name:</label>
  <input type="text" name="playerName">
  <label class="A1">Age:</label>
  <input type="text" name="age">
  <label class="Pos1">Position</label>
  <select name="position">
    <option value="Point-Guard">Point Guard</option>
    <option value="Shooting-Guard">Shooting Guard</option>
    <option value="Small-Forward">Small Forward</option>
    <option value="Power-Forward">Power Forward</option>
    <option value="Center">Center</option>
  </select>
  <br></br>
  <label class="Play2">Player's Name:</label>
  <input type="text" name="playerName">
  <label class="A2">Age:</label>
  <input type="text" name="age">
  <label class="Pos2">Position</label>
  <select name="position">
    <option value="Point-Guard">Point Guard</option>
    <option value="Shooting-Guard">Shooting Guard</option>
    <option value="Small-Forward">Small Forward</option>
    <option value="Power-Forward">Power Forward</option>
    <option value="Center">Center</option>
  </select>
  <br></br>
  <label class=" Play3">Player's Name:</label>
  <input type="text" name="playerName">
  <label class="A3">Age:</label>
  <input type="text" name="age">
  <label class="Pos3">Position</label>
  <select name="position">
    <option value="Point-Guard">Point Guard</option>
    <option value="Shooting-Guard">Shooting Guard</option>
    <option value="Small-Forward">Small Forward</option>
    <option value="Power-Forward">Power Forward</option>
    <option value="Center">Center</option>
  </select>
  <br></br>
  <label class="Play4">Player's Name:</label>
  <input type="text" name="playerName">
  <label class="A4">Age:</label>
  <input type="text" name="age">
  <label class="Pos4">Position</label>
  <select name="position">
    <option value="Point-Guard">Point Guard</option>
    <option value="Shooting-Guard">Shooting Guard</option>
    <option value="Small-Forward">Small Forward</option>
    <option value="Power-Forward">Power Forward</option>
    <option value="Center">Center</option>
  </select>
  <br></br>
  <label class="Play5">Player's Name:</label>
  <input type="text" name="playerName">
  <label class="A5">Age:</label>
  <input type="text" name="age">
  <label class="Pos5">Position</label>
  <select name="position">
    <option value="Point-Guard">Point Guard</option>
    <option value="Shooting-Guard">Shooting Guard</option>
    <option value="Small-Forward">Small Forward</option>
    <option value="Power-Forward">Power Forward</option>
    <option value="Center">Center</option>
  </select>
  <br></br>
  <label class="Play6">Player's Name:</label>
  <input type="text" name="playerName">
  <label class="A6">Age:</label>
  <input type="text" name="age">
  <label class="Pos6">Position</label>
  <select name="position">
    <option value="Point-Guard">Point Guard</option>
    <option value="Shooting-Guard">Shooting Guard</option>
    <option value="Small-Forward">Small Forward</option>
    <option value="Power-Forward">Power Forward</option>
    <option value="Center">Center</option>
  </select>
  <br></br>
  <input class="addTeamButton" type="submit" value="Add Team">
</form>
<%- include("../partials/footer") %>