<%- include("./partials/header") %>
  </head>
  <body>
    <h1 class="basketball">BASKETBALL ZONE</h1>
    <h2 class="info">
      <div id="a">Tired of long waits at the gym to play basketball?</div>
      <div id="b">Gather your squad and reserve a court and time to come out and hoop against competition.</div>
    </h2>
  </body>
</html>

<%- include("./partials/footer") %>