<%- include("./partials/header") %>
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Basket World!</p>
    <h1 class="basketball">BASKETBALL WORLD</h1>
    <h2 class="info">
      <div>Tired of long waits at the gym to play basketball?</div>
      <div>Sign up and never have to worry about that again</div>
      <div>Gather your squad and reserve a court and time to come out and hoop against competition</div>
    </h2>
  </body>
</html>

<%- include("./partials/footer") %>