<%- include("./partials/header") %>
  </head>
  <body>
    <h1 class="basketball">BASKETBALL ZONE</h1>
    <h2 class="info">
      <div id="a1">Welcome to Basketball Zone</div>
      <div id="a">~ Tired of long waits at the gym to play basketball?</div>
      <div id="b1">~ Sign up, create your team and reserev a court.</div>
      <div id="b">~ Gather your team, come out and enjoy a wait-free basketball run!</div>
    </h2>
  </body>
</html>

<%- include("./partials/footer") %>