body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.basketball {
  text-align: center;
  text-decoration: wavy;
  color:orange;
  margin: 40px;
  height: 80px;
  font-size: 50px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.tInfo {
  color: red;
}

.tNameInfo {
  color: red;
}

.pNameInfo {

}

.pAgeInfo {

}

.pPositionInfo {

}

.teamName {

}

.info {
  padding: 20px;
  color: blueviolet;
}

#a {
  line-height: 500%;
} 

#b {
  line-height: 500%;
}