body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.basketball {
  text-decoration: wavy;
  color:orange;
  margin: 40px;
  margin-left: 200px;
  height: 80px;
  font-size: 50px;
}

.tInfo {
  color: red;
}