body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.basketball {
  text-align: center;
  text-decoration: wavy;
  color:orange;
  margin: 40px;
  height: 80px;
  font-size: 50px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.teamInfo {
  color: blueviolet;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  background-color: yellow;
}

.tInfo {
  color: red;
}

.tNameInfo {
  color: red;
}

.pNameInfo {

}

.pAgeInfo {

}

.pPositionInfo {

}

.teamName {
  text-align: center;
  font-size: 30px;
  text-align: center;
  padding-left: 30px;
  background-color: blueviolet;
  border-top-right-radius:20px ;
  border-bottom-right-radius: 20px;
}

.button {
  background-color:yellow;
  padding-left: 20px;
}

#allTeams {
  text-align: center;
  color: orange;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 50px;
  border: 5px solid yellow;
}

#createTeam {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: orange;
  text-align: center;
  border: 5px solid red;
  font-size: 50px;
}

#reserve {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: orange;
  border: 5px solid red;
  text-align: center;
  font-size: 50px;
}

.Courts {
  font-size: 30px;
  color: red;
  text-decoration: underline;
}

.info {
  color: blueviolet;
  font-size: 25px;
}

#a {
  line-height: 500%;
} 

#b {
  line-height: 500%;
}

#selectPTime {
font-size: larger;
font-weight: 600;
}

#selectYTeam {
  font-size: larger;
  font-weight: 600;
}

#newTeam {
  background-color: blue;
}


#pickCourtNo {
font-size: larger;
font-weight: 600;
}

.date {
  font-size: larger;
  font-weight: 600;
}

.courtIndex {
  background-color: yellow;
}

.teamIndex {
  background-color: red;
  background-size: cover;
  background-position: center;
}

head {
  background-color: gray;
}

.cNo, .playTime, .cTeamName, .courtNo, .courtPlayingTime, .courtTeam, .courtDate, .dateList {
border: 3px solid black;
}

.cNo, .playTime, .cTeamName, .dateList{
  background-color: orange;
}

.courtNo, .courtPlayingTime, .courtTeam, .courtDate {
  font-size: x-large;
  color: orange;
  background-color: blueviolet;
}

.nTName {

}

.newTeam {
  background-color: yellow;
}

#newTName {
  font-size:x-large;
  color: red;
  font-weight: 600;
}

.Play1, .Play2, .Play3, .Play4, .Play5, .Play6 {
  font-size: x-large;
  color: red;
  font-weight: 600;
}

.A1, .A2, .A3, .A4, .A5, .A6 {
font-size: x-large;
color: red;
font-weight: 600;
}

.Pos1, .Pos2, .Pos3, .Pos4, .Pos5, .Pos6 {
  font-size: x-large;
  color: red;
  font-weight: 600;
}

.addTeamButton {
  background-color: orange;
  height: 40px;
}
 